* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 100px;
    background-color: #0000FF;
}

.header p {
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    color: #FFFFFF;
    padding-top: 35px;
    padding-left: 30px;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 21px;
    margin-bottom: 21px;
}

.text-block {
    height: 165px;
    width: 330px;
    /* margin: 0 22px 40px 22px; */
    margin: 20px;
    border: 5px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-block p {
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding: 30px 20px;
    font-weight: 600;
}

.footer {
    height: 100px;
    background-color: #0000FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer p {
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    padding-left: 23px;
}

.footer img {
    padding-right: 23px;
}

/* версия для устройств большей ширины чем горизонтальный iphone 12 pro */
@media only screen and (min-width: 391) {
    .text-block {
        height: 300px;
        width: 600px;
    }
}